.choice {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  align-items: flex-start;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.choice__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 135px;
  padding-right: 135px;

  @media (max-width: $large-width) {
    width: 100%;
  }

  @media (max-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 77px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.choice__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1092px;
  margin-top: 0;
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 50px;
  letter-spacing: -0.5px;
  color: $basic-white;

  @media (max-width: 1350px) {
    width: 712px;
  }

  @media (max-width: 900px) {
    width: 100%;
    font-size: 36px;
    line-height: 40px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.choice__subtitle {
  display: flex;
  flex-wrap: wrap;
  width: 1092px;
  margin-top: 21px;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: $basic-hover;

  @media (max-width: 1350px) {
    width: 712px;
  }

  @media (max-width: 900px) {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.choice__list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-content: flex-start;
  width: 100%;
  min-height: 100%;
  gap: 32px 24px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: 1350px) {
    justify-content: center;
    grid-template-columns: min-content min-content;
  }

  @media (max-width: 900px) {
    grid-template-columns: min-content;
  }

  @media (max-width: $tablet-width) {
    gap: 16px;
  }
}

.choice__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 344px;
  height: 232px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}
