.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 378px;

  @media (max-width: 830px) {
    width: 300px;
  }

  @media (max-width: $tablet-width) {
    order: 2;
    width: 100%;
    padding-top: 37px;
    padding-bottom: 16px;
    display: none;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 8px;
  list-style: none;

  @media (max-width: $tablet-width) {
    justify-content: center;
    padding-right: 0;
  }
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 23px;
  margin-top: 5px;
  margin-bottom: 5px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 24px;
  }
}
