.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.form__calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 144%;
  display: flex;
  align-items: center;
  color: $basic-white;
}

.form input[name="date"] {
  display: flex;
  flex-wrap: wrap;
}

.form__title-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 34px;
  padding-top: 40px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 12px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 54px;
    width: calc(100% - 108px);
    width: 100%;
    height: 0.5px;
    background-color: $text-white;
    opacity: 0.25;
  }
}

.form__subtitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 8px;
  padding-left: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;
  color: $basic-hover;
}

.form__title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 50px;
  font-style: normal;
  font-weight: 900;
  font-size: 92px;
  line-height: 95%;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: $basic-white;

  @media (max-width: 940px) {
    font-size: 42px;
  }
}

.form__body {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding-left: 97px;
  padding-right: 97px;
  overflow: hidden;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.form__date {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: $basic-white;
}

.form__time {
  display: none;
  flex-wrap: wrap;
  width: 100%;

  &--visible {
    display: flex;
  }
}

.form__samplpes {
  display: flex;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 20px;
  list-style: none;
}

.form__sample {
  position: relative;
  display: flex;
  margin-right: 22px;
  padding-top: 5px;
  padding-left: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 144%;
  display: flex;
  align-items: center;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: $basic-white;
  opacity: 0.82;

  @media (max-width: $mobile-width) {
    margin-right: 10px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 2px;
    width: 15px;
    height: 15px;
    border: 2px solid $basic-grey;
    border-radius: 3px;
  }

  &:nth-child(2) {
    &::before {
      background-image: linear-gradient(158.6deg, #F2890F 9.78%, #B8600F 79.81%);
      border: none;
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: linear-gradient(180deg, #2CDB52 0%, #13BA19 100%);
      border: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.form__label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  font-feature-settings: 'pnum'on, 'lnum'on;

  // &[for="user-name"].form__label--title {
  //   &::after {
  //     position: absolute;
  //     content: "Имя";
  //     top: calc(100% + 2px);
  //     left: 19px;
  //     display: flex;
  //     padding-left: 5px;
  //     padding-right: 5px;
  //     justify-content: center;
  //     background-color: $basic-bg;
  //     font-weight: 500;
  //     font-size: 12px;
  //     line-height: 17px;
  //     display: flex;
  //     align-items: center;
  //     font-feature-settings: 'pnum'on, 'lnum'on;
  //     color: rgba(229, 229, 229, 0.64)
  //   }
  // }

  // &[for="user-email"].form__label--title {
  //   &::after {
  //     position: absolute;
  //     content: "E-mail";
  //     top: calc(100% + 2px);
  //     left: 19px;
  //     display: flex;
  //     padding-left: 5px;
  //     padding-right: 5px;
  //     justify-content: center;
  //     background-color: $basic-bg;
  //     font-weight: 500;
  //     font-size: 12px;
  //     line-height: 17px;
  //     display: flex;
  //     align-items: center;
  //     font-feature-settings: 'pnum'on, 'lnum'on;
  //     color: rgba(229, 229, 229, 0.64)
  //   }
  // }

  // &--checkbox {
  //   padding-left: 30px;

  //   &::before {
  //     position: absolute;
  //     content: "";
  //     top: 0;
  //     left: 0;
  //     width: 16px;
  //     height: 16px;
  //     border-radius: 3px;
  //     background-image: linear-gradient(rgba(110, 67, 18, 1), rgba(110, 67, 18, 1));
  //   }
  // }

  &--radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 0;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 65px;
  }
}

.form__input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 14px;
  background-color: inherit;
  border: 1px solid $text-white;
  border-radius: 3px;
  color: $text-white;

  // &--checkbox:checked~.form__label--checkbox::before {
  //   background-image: linear-gradient(rgba(242, 137, 15, 1), rgba(242, 137, 15, 1));
  // }

  // &--checkbox:focus~.form__label--checkbox::before {
  //   border: 1px solid $text-white;
  // }

  &--radio {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &--radio:checked~.form__label--radio {
    border: none;
    background: linear-gradient(180deg, #2CDB52 0%, #13BA19 100%);
  }

  &--radio:disabled~.form__label--radio {
    border: none;
    background: linear-gradient(158.6deg, #F2890F 9.78%, #B8600F 79.81%);
  }

  &--radio:focus~.form__label {
    background: linear-gradient(180deg, #2CDB52 0%, #13BA19 100%);
  }
}

.form__radio-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__radio-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 110px;
  margin-right: 24px;
  margin-bottom: 22px;
}

.form__radio-subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.form__button {
  display: none;

  &--active {
    position: absolute;
    top: 210px;
    right: 150px;
    display: flex;
    width: 160px;
    height: 30px;
    padding-right: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    font-feature-settings: 'pnum'on, 'lnum'on;

    @media (max-width: 620px) {
      top: auto;
      bottom: 50px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 13px;
      right: 10px;
      width: 5px;
      height: 7px;
      background-image: url("../img/icon-arrow-right-small.svg");
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-hover;
    }
  }
}

.form button {
  border: none;
  background-color: transparent;
  color: $basic-white;
}
