.page-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $basic-bg;
  background-image: url("../img/bg-desktop@1x.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;

  @media (max-width: $tablet-width) {
    background-image: url("../img/bg-mobile@1x.webp");

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/bg-mobile-radial@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  &--choice {
    background-image: none;
    height: auto;

    &::after {
      background-image: none;
    }
  }

  &--promo {
    background-image: url("../img/maniac-desktop-bg@1x.webp");

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/promo-radial-bg.webp");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/maniac-mobile-bg@1x.webp");
      background-position: top;
      background-size: 100% auto;
      background-color: $basic-bg-2;

      &::after {
        display: none;
      }
    }
  }

  &--form {
    width: 100%;
    height: 100%;
    background-image: url("../img/form-bg-desktop.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(26, 26, 26, 0.5);
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/form-bg-desktop-radial.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: left;
    }
  }
}
