// colors
$basic-white: #ffffff;
$basic-white-2: #f0f0f0;
$text-white: #e6e6e6;
$basic-grey: #c4c4c4;
$basic-bg: #1c1c1c;
$basic-bg-2: #23150e;
$basic-hover: #f2890f;
$darck-orange: #f28a0f;
$light-orange: #f39425;
$input-success: linear-gradient(rgba(44, 219, 82, 1), rgba(19, 186, 25, 1));
$input-error: linear-gradient(rgba(242, 144, 29, 1), rgba(210, 111, 19, 1));

// fonts
$primary-font: "Raleway", "Arial", sans-serif;

// Viewports
$mobile-width: 360px;
$tablet-width: 767px;
$desktop-width: 1023px;
$large-width: 1439px;
